.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}
  
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--highlight);
  }
  
  .login-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: var(--background-dark);
    color: var(--foreground-dark);
  }
  
  .login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--highlight);
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: var(--highlight);
  }