.search-page-container {
  margin: 0 auto;
  width: 100%;

  >header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  
    >a{
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding: 1rem 0;
  
        img{
            height: 40px;
            width: 100px;
        }
    }
  
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        ul{
            list-style: none;
  
            li{
                position: relative;
                display: inline-block;
  
                >a{
                    text-decoration: none;
                }
            }
        }
    }
  }
}

/* Search Page Styles */
  
.search-page {
  min-height: calc(100vh - 70px);
  background: var(--background-page);
  padding-top: 7vh;

  .search-title{
    color: var(--text-main);
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 4vh;

    @media (max-width: 1200px) {
      width: 75vw;
    }
    @media (max-width: 1000px) {
      width: 90vw;
    }
    @media (max-width: 768px) {
      margin-bottom: 2vh;
    }

    h1{
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.5vh;
    }
  }

  .search-bar-container{
    width: 65vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-card);
    padding: 1.5vw;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 8px;

    
    @media (max-width: 1200px) {
      width: 75vw;
    }
    @media (max-width: 1000px) {
      width: 90vw;
      padding: 2vw;
    }
    @media (max-width: 768px) {
      padding: 3vw;
      flex-direction: column;
    }
  
    .search-dropdown{
      top: 40px;
      left: 0;

      @media (max-width: 768px) {
        left: -5vw;
      }
    }
  }
  
  .submit-button-container {
  
    .submit-button{
      background-color: var(--accent-main);
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      color: white;
      border-radius: 2px;

      .phone{
        display: none;
        font-family: 'Inter', sans-serif;
      }
  
      &:hover{
        cursor: pointer;
      }

      @media (max-width: 768px) {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        height: 30px;
        padding: 0 2rem;
  
        .desktop-tablet{
          display: none;
        }
        .phone{
          display: block;
        }
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}